<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>

<body>
    <div class="con">
        <h1>Sign Up</h1>
        <table>
            <tbody>
                <form action="/login/signup" method="POST">
                    <tr>
                        <td>ID : </td>
                        <td><input type="text" required name="id" pattern="^([a-z])([a-z0-9_])+" minlength="8" maxlength="20"></td>
                    </tr>
                    <tr>
                        <td>Password : </td>
                        <td><input type="password" required name="pass" pattern="^([a-zA-Z0-9_])+" minlength="6" maxlength="50"></td>
                    </tr>
                    <tr>
                        <td>Mail : </td>
                        <td><input type="email" required name="mail"></td>
                    </tr>
                    <tr>
                        <td>Submit : </td>
                        <td><input type="submit"><input type="hidden"></td>
                    </tr>
                </form>
                <tr>
                    <td colspan="2"><a href="/login">If You have the ID</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="none con">
        <h1>Please waiting <img height="50" src="/img/Loading.gif"></h1>
    </div>
    <script>
        const id = document.querySelector('[name="id"]');
        const patternMail = /(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/;
        const mail = document.querySelector('[name="mail"]');
        const submit = document.querySelector('[type="submit"]');
        const pointFun = val => {
            Object.entries(val).forEach(v => {
                if(v[1]){
                    const temp = document.querySelector(`[name="${v[0]}"]`);
                    temp.classList.toggle('point');
                }
            });
            document.querySelector('table').addEventListener('click', e => document.querySelectorAll('.point').forEach(v => v.classList.toggle('point')), {once:true});
        }
        mail.pattern = patternMail.source;
        const form = document.querySelector('form');
        const Something = async e => {
            document.querySelectorAll('.con').forEach(v => v.classList.toggle('none'));
            const obj = { 
                mail : mail.value,
                id : id.value
            };
            const val = await (await fetch('/login/verify', {
                method: 'POST',
                headers:{
                    'Content-Type' : 'application/json'
                },
                body:JSON.stringify(obj)
            })).json();
            if(val.status !== 'good'){
                delete val.status;
                pointFun(val);
                document.querySelectorAll('.con').forEach(v => v.classList.toggle('none'));
            }
            e.preventDefault();
            e.stopPropagation();
        };
        form.addEventListener('submit', Something);
        submit.addEventListener('click', e => {
            e.stopPropagation();
        });
        window.addEventListener('load', e => {
            const flag = <%=typeof flag === "undefined" ? false : flag%>;
            console.log(flag);
            if(flag){
                const obj = {
                    mail: flag[0],
                    id: flag[1]
                };
                pointFun(obj);
            }
        },{once:true});
    </script>
</body>

</html>