<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <script src="/js/loginPattern.js"></script>
    <style>
        #msg{
            <%if(typeof msg === 'undefined'){%>
            display:none;
            <%}%>
        }
    </style>
</head>
<body>
    <div class="con">
        <h1 id="msg" style="color:red;"><%=typeof msg === "undefined" ? "" : msg%></h1>
        <h1>Login</h1>
        <table>
            <tbody>
                <form action="/login" method="POST">
                    <tr>
                        <td>ID : </td>
                        <td><input type="text" required name="id"></td>
                    </tr>
                    <tr>
                        <td>Password : </td>
                        <td><input type="password" required name="pass"></td>
                    </tr>
                    <tr>
                        <td>Submit : </td>
                        <td><input type="submit"></td>
                    </tr>
                    <tr>
                        <td colspan="2"><a href="/login/signup">If you don't have an ID</a></td>
                    </tr>
                </form>
            </tbody>
        </table>
    </div>
    <script>
        window.addEventListener('load', () => {
            const id = document.querySelector('[name="id"]');
            const pass = document.querySelector('[name="pass"]');
            id.pattern = idPattern.pattern;
            id.minLength = idPattern.minlength;
            id.maxLength = idPattern.maxlength;
            pass.pattern = passPattern.pattern;
            pass.minLength = passPattern.minlength;
            pass.maxLength = passPattern.maxlength;
        }, {once: true});
        document.querySelector('input[type="submit"]').addEventListener('click', e => {
            e.stopPropagation();
        });
    </script>
</body>

</html>