<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <style>
        iframe{
            box-sizing: border-box;
            width:100%;
            height: 100%;
            border:0;
        }
    </style>
</head>
<body>
    <div id="menu">
        <h1>환영합니다.</h1>
        <button>Sign out</button>
    </div>
    <div id="container">
        <iframe src="/main/waiting"></iframe>
    </div>
    <script>
        const button = document.querySelector('button');
        button.addEventListener('click', e => {
            location.href = '/login/logout';
        });
        (async()=>{
            const update = () => new Promise((res, rej) => {
                setTimeout(async() => {
                    const obj = {
                        status: 'update'
                    };
                    const response = await fetch('/login/update', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body:JSON.stringify(obj)
                    });
                    console.log('cookie update');
                    res(response);
                }, 1000 * 60);
            })
            while(true){
                await update();
            }
        })();
    </script>
</body>
</html>